<!DOCTYPE html>
<html ng-app="webrtcdemo">
<head>
  <meta charset="utf-8">

  <style>
    .ng-cloak { display: none }

    .ribbon-wrapper-green {
      width: 85px;
      height: 88px;
      overflow: hidden;
      position: absolute;
      top: -3px;
      right: -3px;
    }

    .ribbon-green {
      text-align: center;
      -webkit-transform: rotate(45deg);
      -moz-transform:    rotate(45deg);
      -ms-transform:     rotate(45deg);
      -o-transform:      rotate(45deg);
      position: relative;
      padding: 3px 0;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: #BFDC7A;
    }
    small {
      color: #999999;
      font-size: 60%;
    }
    h6 { margin: 0;}
  </style>

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>

  <div ng-controller="AppController">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger" ng-hide="me.videoUrl">
          For this to be cool, you need to click the "yes you can use my webcam" button above
        </div>

      </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Online Users</div>
          <div class="panel-body">
            <div class="row" style="max-height: 400px; overflow: auto">
              <div style="max-width: 18%; margin-left:10px; float: left;">
                <div class="thumbnail" style="position: relative; height:150px">
                  <div class="ribbon-wrapper-green"><div class="ribbon-green">You</div></div>
                  <video
                    ng-show="me.videoUrl"
                    ng-src="{{me.videoUrl}}"
                    style="max-width: 100%"
                    autoplay="true"
                  ></video>
                  <img
                    style="max-width: 100%"
                    src="http://dummyimage.com/190x107/a6a6a6/000000&text=no+webcam"
                    ng-hide="me.videoUrl"
                  >
                  <div class="caption">
                    <input
                      type="text"
                      class="form-control input-sm"
                      style="height:20px"
                      ng-model="me.firebaseRef.name"
                      placeholder="Your Name"
                    >
                    <small>{{me.userId}}</small>
                  </div>
                </div>
              </div>
              <div style="max-width: 18%; margin-left:10px; float: left;" ng-repeat="user in peerConnections">
                <div class="thumbnail" style=" height:150px">
                  <video
                    ng-show="user.videoUrl"
                    ng-src="{{user.videoUrl}}"
                    style="max-width: 100%; max-height: 88px; margin: auto; display: block;"
                    autoplay="true"
                  ></video>
                  <img
                    style="max-width: 100%"
                    src="http://dummyimage.com/190x107/a6a6a6/000000&text=no+webcam"
                    ng-hide="user.videoUrl"
                  >
                  <div class="caption">
                    <h6>
                      {{user.firebaseRef.name}}
                    </h6>
                    <small>
                      <span style="font-size: 13px">
                        <i
                          class="fa fa-eye"
                          title="the webRTC video connection with this user is connected"
                          style="color:#5CB85C"
                          ng-show="user.mediaConn.open"
                        ></i>
                        <i
                          class="fa fa-eye-slash"
                          title="could not establish webRTC video connection with this user"
                          style="color:#D9534F"
                          ng-hide="user.mediaConn.open"
                        ></i>
                        <i
                          class="fa fa-chain"
                          title="the RTCDataChannel connection with this user is open, chat & file sharing will work"
                          style="color:#5CB85C"
                          ng-show="user.dataConn.open"
                        ></i>
                        <i
                          class="fa fa-chain-broken"
                          title="could not establish a RTCDataChannel connection with this user, chat & file sharing will NOT work"
                          style="color:#D9534F"
                          ng-hide="user.dataConn.open"
                        ></i>
                      </span>
                      {{user.userId}}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Chat</div>
        <div class="panel-body">
        <div id="chat-message-holder" style="max-height: 300px; overflow:auto">
          <div class="media" ng-repeat="message in chatMessages">
            <a class="pull-left" href="#">
              <video
                width="64"
                class="media-object img-thumbnail"
                ng-src="{{message.author.videoUrl}}"
                autoplay="true"
                ng-show="message.author.videoUrl"
              ></video>
              <img
                class="media-object img-thumbnail"
                src="http://dummyimage.com/64x64/a6a6a6/000000&text=no+webcam"
                ng-hide="message.author.videoUrl"
              >
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{message.author.firebaseRef.name || message.author.userId}}</h4>
              {{message.message}}
            </div>
          </div>
        </div>
        <form novalidate ng-submit="postChatMessage()">
          <label for="chatMessage">Say Something</label>
          <input
            class="form-control"
            ng-model="chatMessage"
            id="chatMessage"
            placeholder="send a message directly (p2p) to to every person on this page"
            required
          >
        </form>
      </div>
      </div>
    </div>
  </div>


  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <!-- PeerJS -->
  <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
  <!-- Our Custom JS -->
  <script src="app.js"></script>
</body>
</html>
